<h3 class="breadcump">
  <% for(var i=0; i < pathBreadCump.length-1; i++) {%>
      <a href="/sources/<%= branch %>?path=<%= pathBreadCump[i].link %>">
      <%= pathBreadCump[i].linkText %>
      </a> 
  <% } %>
  <span><%= pathBreadCump[pathBreadCump.length-1].linkText %></span>
</h3>