<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <ul class="commits-list">
      <% commits.forEach(function(commit){ %>
        <li class="commits-list__element">
          <a class="commits-list__commit-hash" href="/sources/<%= branch %>?commit=<%= commit.hash %>"><%= commit.hash %></a>
          <span class="commits-list__commit-rest" ><%= commit.extraCommitInfo %></span> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
