<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <ul class="sources-list">
      <% commits.forEach(function(commit){ %>
        <li>
          <a href="/sources/<%= branch %>?commit=<%= commit.hash %>"><%= commit.hash %></a>
          <span><%= commit.extraCommitInfo %></span> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
