<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <% include ./breadcump.ejs %>
    <p class="file-content"><%= fileContent %></p>
  </body>
</html>
