<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <img class="git-logo" src="/assets/git-logo.png"/>
    <h1><%= title %></h1>
    <h2><%= section %> </h2>
      <p class="file-content"><%= fileContent %></p>
  </body>
</html>
