<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <link rel="icon" href="favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/scripts/index.js'> </script>
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= section %> </h2>
      <p class="file-content"><%= fileContent %></p>
  </body>
</html>
