<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <ul class="sources-list">
      <% branches.forEach(function(branch){ %>
        <li>
          <span><%= branch %></span> 
          <a href="commits/<%= branch %>">commits</a> 
          <a href="sources/<%= branch %>">sources</a> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
