<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>MyGit</title>
    <script src='/scripts/bundle.js'> </script>
  </head>
  <body>
    <% include ./app-bar.ejs %>
    <ul class="branches-list">
      <% branches.forEach(function(branch){ %>
        <li class="branches-list__element">
          <span class="branches-list__branch-name"><%= branch %></span> 
          <a class="branches-list__commits-link" href="commits/<%= branch %>">commits</a> 
          <a class="branches-list__sources-link" href="sources/<%= branch %>">sources</a> 
        </li>
      <% }); %>
    </ul>
  </body>
</html>
